
 <% if current_user %>  

 <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
   <li><%= button_to "sign_out  ", destroy_user_session_path, methode: :delete, class: "dropdown-item" %></li>
  </ul>
</div>
  <% else %>
<li class = "nav-item">
<%= link_to "sign_up  ", new_user_registration_path %>
<li class = "nav-item">
<%= link_to "login", new_user_session_path %>
</li>
<% end %> 



